
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Lobster&display=swap');

.footer-title{
        font-family: "Lobster", sans-serif;
        font-size: 1.8rem;
        font-weight: 600;
        font-style: normal;    
}


body{
    font-family: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    width: 95%;
    display: flex;
    margin-bottom: 5rem;
}
h2{
    font-size: 3rem;
    font-weight: 700;
    color: rgb(18, 18, 18);
}
p{
    font-size: 1.2rem;
    font-weight: 400;
    color: rgb(112, 112, 112);
    margin-top: 1.2rem;
}
.primary-btn{
    background-color: rgb(236, 93, 117);
    border: none;
    border-radius: .5rem;
    margin: 1rem 0;
    padding: 0.8rem;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}
/* Let’s Help section start */
.donate-title{
    background-image:linear-gradient(0deg, rgb(22, 22, 22), rgba(0, 0, 0, 0.199) 100%), url(../images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:10rem 2rem;
    text-align: center;
}
.donate-title h1{
    font-size: 4rem;
    font-weight: 800;
    color: white;
}
.donate-title p{
    font-size: 18px;
    font-weight: 300;
    color: white;
    margin-top: 1rem;
}
.header-btn{
    margin-top: 2rem;
}
/* Let’s Help section end */

.donate-today{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}
.donate-amount{
    display: flex;
    gap: 1rem;
}
.donate-amount h4{
    padding: 1rem;
    color: rgb(70, 70, 70);
    
}
.donate-amount h4:hover{
    border: 1px solid rgb(236, 93, 117);
    color: rgb(236, 93, 117);
    border-radius: .5rem;
}
.donate-today input{
    border: none;
    padding: 1rem;
}

/* donate plan section start */
.donate-plan-container{
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 3rem;
}
.donate-plan-content{
    display: flex;
    text-align: left;
    gap: 1rem;
}
.donate-plan-content div{
    margin-top: 2rem;
    width: 30%;
    padding: 1rem;
}
.donate-plan-content div:hover{
    background-color: rgb(255, 205, 176);
}
.donate-plan-content div img, h3, p{
    margin-bottom: 1.5rem;
}

/* lives depend  and They need us to suvive section start */
.lives-depend-container{
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-direction: row-reverse;
    
}
.lives-depend-container img{
    width: 100%;
}


.need-suvive-container{
    width: 80%;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    
}
.need-suvive-container img{
    width: 100%;
}
/* lives depend  and They need us to suvive section end */


/* get my updates section start */
.update-container{
    width: 70%;
    flex-direction: column;
    text-align: center;
}
.update{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 205, 176);
    padding: 5rem;
    margin-top: 3.5rem;
}
.update input{
    width: 40%;
    border: none;
    padding: 1rem;
    background-color: rgb(211, 211, 211);
}
.update button{
border-radius: 0%;
}
/* get my updates section end */

footer{
    margin: 0 auto;
    background-color: rgb(11, 13, 23);
    padding: 3rem;
}
    
.footer-section{
    background-color: rgb(11, 13, 23);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
.footer-section h3{
    color: rgb(255, 89, 89);
}

@media screen and (max-width:576px){
    .donate-title{
        background-size: 100%;
        padding: 1.5rem 0 ;
    }
    .donate-title h1{
        font-size: 2rem;
    }
    .donate-title p{
        font-size: 1rem;
    }
    .primary-btn{
        margin: 0;
    }
    .donate-today{
        width: 90%;
    }
    .donate-amount{
        margin: 0;
        gap: .2rem;
    }
    .donate-plan-content,
    .lives-depend-container,
    .need-suvive-container,
    .update{
        flex-direction: column;
    }
    .donate-today h2,
    .donate-plan-container h2,
    .lives-depend-container h2,
    .need-suvive-container h2,
    .update-container h2{
        font-size: 2rem;
    }
    .donate-today p,
    .donate-plan-container p,
    .lives-depend-container p,
    .need-suvive-container p,
    .update-container p{
        font-size: 1rem;
    }
    .donate-plan-content div{
       width: 100%;
       margin: 2rem auto;
    }
    .update{
        margin: .2rem;
        padding: 2rem 0;
        gap: 1rem;
    }
    .update input{
        width: 80%;
    }
}